{% extends "layout.html" %}

{% block title %}
    Lista de Apartamentos
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for apartment in apartments %}
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="{% url 'apartments:detail' apartment_id=apartment.id %}" style="text-decoration: none; color: inherit;">
                <div class="card shadow-sm h-100">
                    {% comment %} <img src="{% static 'images/apartment-placeholder.jpg' %}" class="card-img-top" alt="Imagen de {{ apartment.Name }}"> {% endcomment %}
                    
                    <div class="card-body">
                        <h3 class="card-title">{{ apartment.Name }}</h3>
                        <p class="card-text">
                            {{ apartment.Barrio }}, {{ apartment.Ciudad }}, {{ apartment.Pais }}
                        </p>
                        <p class="card-text">
                            <strong>US$ 120</strong> / Noche
                        </p>
                        <div class="d-flex justify-content-between">
                            <span>👥 {{ apartment.N_Personas }}</span>
                            <span>🛁 {{ apartment.N_Banos }}</span>
                            <span>🛏 {{ apartment.N_Camas }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <p>No hay apartamentos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}