{% extends "layout.html" %}

{% block title %}
    Lista de Apartamentos
{% endblock %}

{% load static %}

{% block content %}
<div class="row">
    {% for apartment in apartments %}
    <div class="col-md-6 col-lg-4 mb-4">
        <a href="{% url 'apartments:detail' apartment_id=apartment.id %}" class="apartment-card">
            <div class="card h-100 border-0">
                <img src="{% static 'images/apartment1.png' %}" class="apartment-image" alt="Imagen de {{ apartment.Name }}">
                
                <div class="card-body" style="padding: 12px 0px 0px 0px !important">
                    <p class="card-title" style="font-weight: bold; font-size: 18px; margin-bottom: 0px;">{{ apartment.Name }}</p>
                    <p class="card-text text-muted">
                        {{ apartment.Barrio }}, {{ apartment.Ciudad }}, {{ apartment.Pais }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        {% comment %} <span><strong>US$ 120</strong> / Noche</span> {% endcomment %}
                        <span>US$ 120 / Noche</span>
                        <div>
                            <span class="me-3">
                                <img src="{% static 'images/person-icon.svg' %}" style="padding-bottom: 3px;"> {{ apartment.N_Personas }}
                            </span>
                            {% comment %} <span class="me-3">
                                <i class="bi bi-badge-wc"></i> {{ apartment.N_Banos }}
                            </span> {% endcomment %}
                            <span>
                                <img src="{% static 'images/bed-icon.svg' %}"> {{ apartment.N_Camas }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    <p>No hay apartamentos disponibles.</p>
    {% endfor %}
</div>
{% endblock %}