{% extends "layout.html" %}

{% block title %}
    Detalle
{% endblock %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row mb-4">
        <div class="col-lg-8">
            <img src="{% static 'images/apartmentdetail1.png' %}" class="img-fluid w-100 mb-2" alt="{{ apartment.Name }}" 
            style="    height: 429px; display: block; object-fit: cover;">
        </div>
        <div class="col-lg-4 d-flex flex-column gap-2">
            <img src="{% static 'images/apartmentdetail2.png' %}" class="img-fluid" alt="Apartment photo 1" 
            style="height: 211px !important; display: block; object-fit: cover;">
            <img src="{% static 'images/apartmentdetail3.png' %}" class="img-fluid" alt="Apartment photo 2" 
            style="height: 211px !important; display: block; object-fit: cover;">
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8">
            <div class="mb-4">
                {% comment %} <img src="{% static 'images/apartment-placeholder.jpg' %}" class="img-fluid w-100 mb-3" alt="{{ apartment.Name }}">
                <div class="d-flex gap-2">
                    <img src="{% static 'images/apartment-placeholder.jpg' %}" class="img-thumbnail" style="width: 100px;" alt="Thumbnail 1">
                    <img src="{% static 'images/apartment-placeholder.jpg' %}" class="img-thumbnail" style="width: 100px;" alt="Thumbnail 2">
                    <img src="{% static 'images/apartment-placeholder.jpg' %}" class="img-thumbnail" style="width: 100px;" alt="Thumbnail 3">
                </div> {% endcomment %}
            </div>
            <h2 class="fw-bold" style="text-transform: uppercase; font-size: 45px; margin-bottom: 0rem !important;">{{ apartment.Name }}</h2>
            <p class="text-muted" style="margin-bottom: 0rem !important;">{{ apartment.Barrio }}, {{ apartment.Ciudad }}, {{ apartment.Pais }}</p>
            <p style="margin-bottom: 0rem !important;">
                {{ apartment.N_Personas }} invitados |
                1 habitación |
                {{ apartment.N_Camas }} cama(s) |
                {{ apartment.N_Banos }} baño(s)
            </p>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur. Quam viverra vel convallis amet iaculis. 
                Id mi velit eget volutpat scelerisque. Sapien sed nibh malesuada bibendum pharetra.
            </p>
            <hr>
            <h4 style="text-transform: uppercase; font-size: 30px;">Amenities</h4>
            <div class="row row-cols-2 row-cols-md-4 g-4">
                <div class="col text-center">
                    <img src="{% static 'images/elevator-svgrepo-com.svg' %}" alt="Elevator" class="amenity-icon">
                    <p>Elevator</p>
                </div>
                <div class="col text-center">
                    <img src="{% static 'images/parking-fee-svgrepo-com.svg' %}" alt="Indoor Parking" class="amenity-icon">
                    <p>Indoor Parking</p>
                </div>
                <div class="col text-center">
                    <img src="{% static 'images/tv-svgrepo-com.svg' %}" alt="TV" class="amenity-icon">
                    <p>TV</p>
                </div>
                <div class="col text-center">
                    <img src="{% static 'images/bell-boy-svgrepo-com.svg' %}" alt="Doorman" class="amenity-icon">
                    <p>Doorman</p>
                </div>
                <div class="col text-center">
                    <img src="{% static 'images/balcony-window-svgrepo-com.svg' %}" alt="Patio or Balcony" class="amenity-icon">
                    <p>Patio or Balcony</p>
                </div>
                <div class="col text-center">
                    <img src="{% static 'images/bbq-svgrepo-com.svg' %}" alt="BBQ Grill" class="amenity-icon">
                    <p>BBQ Grill</p>
                </div>
            </div>
            <hr>
            <h4 style="text-transform: uppercase; font-size: 30px;">Bedrooms</h4>
            <div class="row row-cols-2 row-cols-md-4 g-4">
                <div class="col text-center">
                    <img src="{% static 'images/bed-double-svgrepo-com.svg' %}" alt="Elevator" class="amenity-icon">
                    <p>1 Queen Bed</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="border rounded p-4 shadow-sm">
                <div class="d-flex justify-content-between mb-3">
                    <span class="fw-bold">DIARIO</span>
                    <span>US$ 83.00 POR NOCHE</span>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="dates" class="form-label">Llegada - Salida</label>
                        <input type="text" id="dates" class="form-control" placeholder="May 1/23 - Jun 3/23">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" id="email" class="form-control" placeholder="tu@email.com">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="tel" id="phone" class="form-control" placeholder="+57">
                    </div>
                    <div class="mb-3">
                        <label for="discount" class="form-label">Código de descuento</label>
                        <input type="text" id="discount" class="form-control">
                    </div>
                    {% comment %} <button type="submit" class="btn btn-dark w-100">RESERVAR AHORA</button> {% endcomment %}
                    <a href="{% url 'reservations:detail' %}" class="btn btn-dark w-100">RESERVAR AHORA</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
